<a href="https://colab.research.google.com/github/rileythejones/DS-Unit-2-Applied-Modeling/blob/master/Applied_Modeling_Day_Two_Yelp_Dataset_Riley_Jones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---


# Permutation & Boosting

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your work.

- [ ] If you haven't completed assignment #1, please do so first.
- [ ] Continue to clean and explore your data. Make exploratory visualizations.
- [ ] Fit a model. Does it beat your baseline? 
- [ ] Try xgboost.
- [ ] Get your model's permutation importances.

You should try to complete an initial model today, because the rest of the week, we're making model interpretation visualizations.

But, if you aren't ready to try xgboost and permutation importances with your dataset today, that's okay. You can practice with another dataset instead. You may choose any dataset you've worked with previously.

The data subdirectory includes the Titanic dataset for classification and the NYC apartments dataset for regression. You may want to choose one of these datasets, because example solutions will be available for each.


## Reading

Top recommendations in _**bold italic:**_

#### Permutation Importances
- _**[Kaggle / Dan Becker: Machine Learning Explainability](https://www.kaggle.com/dansbecker/permutation-importance)**_
- [Christoph Molnar: Interpretable Machine Learning](https://christophm.github.io/interpretable-ml-book/feature-importance.html)

#### (Default) Feature Importances
  - [Ando Saabas: Selecting good features, Part 3, Random Forests](https://blog.datadive.net/selecting-good-features-part-iii-random-forests/)
  - [Terence Parr, et al: Beware Default Random Forest Importances](https://explained.ai/rf-importance/index.html)

#### Gradient Boosting
  - [A Gentle Introduction to the Gradient Boosting Algorithm for Machine Learning](https://machinelearningmastery.com/gentle-introduction-gradient-boosting-algorithm-machine-learning/)
  - _**[A Kaggle Master Explains Gradient Boosting](http://blog.kaggle.com/2017/01/23/a-kaggle-master-explains-gradient-boosting/)**_
  - [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Seventh%20Printing.pdf) Chapter 8
  - [Gradient Boosting Explained](http://arogozhnikov.github.io/2016/06/24/gradient_boosting_explained.html)
  - _**[Boosting](https://www.youtube.com/watch?v=GM3CDQfQ4sw) (2.5 minute video)**_

# Permuation

In [0]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2A66-B6CC

 Directory of C:\Users\Ryloid\Documents\Data Science\yelp project

12-Nov-19  06:30 PM    <DIR>          .
12-Nov-19  06:30 PM    <DIR>          ..
12-Nov-19  04:12 PM    <DIR>          .ipynb_checkpoints
11-Nov-19  05:49 PM             8,654 2004.png
11-Nov-19  05:49 PM             8,680 2005.png
11-Nov-19  05:49 PM             8,713 2006.png
11-Nov-19  05:49 PM             8,761 2007.png
11-Nov-19  05:49 PM             8,789 2008.png
11-Nov-19  05:50 PM             8,862 2009.png
11-Nov-19  05:50 PM             8,967 2010.png
11-Nov-19  05:50 PM             9,072 2011.png
11-Nov-19  05:50 PM             9,146 2012.png
11-Nov-19  05:51 PM             9,201 2013.png
11-Nov-19  05:51 PM             9,307 2014.png
11-Nov-19  05:51 PM             9,371 2015.png
11-Nov-19  05:46 PM             9,141 2016.png
11-Nov-19  05:46 PM             8,985 2017.png
11-Nov-19  05:46 PM             8,886 2018.png
11-Nov-19  11:29 PM        21,470,812 Applied Modeling Day One - Yelp Dataset - Riley Jones.ipynb
12-Nov-19  06:30 PM            11,659 Applied Modeling Day Two - Yelp Dataset - Riley Jones.ipynb
10-Nov-19  05:39 PM       138,279,749 business.json
11-Nov-19  05:37 PM            10,890 newplot.png
11-Nov-19  05:53 PM           300,791 out.gif
11-Nov-19  05:54 PM           300,791 out1.gif
11-Nov-19  05:56 PM           282,061 out2.gif
11-Nov-19  05:58 PM           282,061 out3.gif
11-Nov-19  06:00 PM               789 out4.gif
11-Nov-19  06:00 PM           282,061 out5.gif
10-Nov-19  03:18 PM     5,347,475,638 review.json
11-Nov-19  02:41 PM                72 Untitled1.ipynb
10-Nov-19  05:51 PM     2,485,747,393 user.json
11-Nov-19  06:21 PM           282,061 yelp_stars.gif
11-Nov-19  11:29 PM            58,791 yelp_users.ipynb
08-Nov-19  07:32 PM        36,507,854 yelp30kuser.csv
11-Nov-19  06:01 PM           282,061 yelpstars.gif
11-Nov-19  06:02 PM           282,061 yelpstars2.gif
11-Nov-19  06:03 PM           282,061 yelpstars3.gif
              34 File(s)  8,032,274,191 bytes
               3 Dir(s)  149,594,845,184 bytes free

In [0]:
import pandas as pd
df = pd.read_json('review.json', lines=True)

In [0]:
df1 = pd.read_json('business.json', lines=True)

In [0]:
df2 = pd.read_json('user.json', lines=True)

In [0]:
df.shape, df1.shape, df2.shape

((6685900, 9), (192609, 14), (1637138, 22))

In [0]:
df2.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,2013-10-08 23:11:33,84,17,25,"2015,2016,2017","c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",5,...,0,0,0,0,1,1,1,1,2,0
1,4XChL029mKr5hydo79Ljxg,Jenna,33,2013-02-21 22:29:06,48,22,16,,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",4,...,0,0,0,0,0,0,1,1,0,0
2,bc8C_eETBWL0olvFSJJd0w,David,16,2013-10-04 00:16:10,28,8,10,,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",0,...,0,0,0,0,1,0,0,0,0,0
3,dD0gZpBctWGdWo9WlGuhlA,Angela,17,2014-05-22 15:57:30,30,4,14,,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",5,...,0,0,0,0,0,2,0,0,1,0
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,361,2013-10-23 07:02:50,1114,279,665,"2015,2016,2017,2018","mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",39,...,1,0,0,1,16,57,80,80,25,5

In [0]:
df['raters_average'] = df2['average_stars'].where(df['user_id']==df2['user_id'])

ValueError: Can only compare identically-labeled Series objects

In [0]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [0]:
# remind ourselves what we are trying to predict 
y = df['average_stars']
import seaborn as sns 
sns.distplot(y);

In [0]:
def engineer(X):
    """A function to engineer the training, validation and test datasets in the same way"""
    # Making a copy as not to modify the original dataset 
    X = X.copy()
    
    # Format this column into a datetime type to extract year, month, and day 
    X['yelping_since'] = pd.to_datetime(X['yelping_since'])
    X['user_created_year'] = X['yelping_since'].dt.year
    X['user_created_month'] = X['yelping_since'].dt.month
    X['user_created_day']= X['yelping_since'].dt.day 
    X = X.drop(columns='yelping_since') # drop original 
    
    # Convert this column from a float into an integer value
    # Since floats cannot be used as targets in a model 
    X["target_star"] = X['average_stars'].astype(int)
    
    # X['review_count_bin'] = pd.qcut(X['review_count'], q=10, duplicates='drop')
    
    # There's no spaces in the column names but this code might be useful anyway                                
    X.columns = [col.replace(' ', '_') for col in X]
    
    return X

In [0]:
# Engineer the data to work with plots 
import plotly.express as px
df_engineered = engineer(df)
df_engineered.dtypes

Unnamed:_0              int64
user_id                object
name                   object
review_count            int64
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
user_created_year       int64
user_created_month      int64
user_created_day        int64
target_star             int32
dtype: object

In [0]:
# Split the dataframe into training and validation sets 
from sklearn.model_selection import train_test_split
training, validation = train_test_split(df, test_size =0.1, shuffle=True, random_state=42)
training.shape, validation.shape

((27000, 23), (3000, 23))

In [0]:
# Engineer and separate X and y 
train = engineer(training)
val = engineer(validation)

target = "review_count"

X_train = train.drop(columns=target)
y_train = train[target]

X_val = val.drop(columns=target)
y_val = val[target]

In [0]:
# Prepare for Permutation importances 
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.impute import SimpleImputer

transformers = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median')
)

X_train_transformed = transformers.fit_transform(X_train)
X_val_transformed = transformers.transform(X_val)

In [0]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(min_samples_leaf = 10, n_estimators=50, random_state=42, n_jobs=-1)

# Fit on train, score on val
model.fit(X_train_transformed, y_train)

print('Validation Accuracy', model.score(X_val_transformed, y_val))
print('Validation Accuracy', model.score(X_train_transformed, y_train))

Validation Accuracy 0.75
Validation Accuracy 0.9535925925925925

In [0]:
import numpy as np 
train['target_star'].value_counts(normalize=True)

3    0.323889
4    0.279111
5    0.197000
2    0.105741
1    0.094259
Name: target_star, dtype: float64

In [0]:
first_ten = y_val[:10]

In [0]:
first_ten

2308      3
22404    14
23397     1
25058     2
2664      3
8511      7
5148     47
7790      1
11311    14
19043    19
Name: review_count, dtype: int64

In [0]:
model.predict(first_ten)

array([ 3, 14,  1,  2,  3,  7, 50,  1, 15,  6], dtype=int64)

In [0]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', n_jobs=-1)

# Fit on train, score on val
model.fit(X_train_transformed, y_train)

print('Validation Accuracy', model.score(X_val_transformed, y_val))
print('Validation Accuracy', model.score(X_train_transformed, y_train))

C:\Users\Ryloid\Anaconda3\envs\unit2\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)